/*https://www.cssportal.com/scss-to-css/
https://fontawesome.com/icons/dice-d20?style=solid
*/

/*$dark: #263844;
$blue: #354b58;
$white: #ffffff;
$grey: #dde6eb;
$green: #92cd89;
$dark-green: #5ab34d;

$main-font: Helvetica;
$mainFont: 1.5em;
$bigFont: 2em;

* {
	margin: 0;
	padding: 0;
	font-family: $main-font;
	color: $green;
}

a {
	text-decoration: none;
}

.fc-unthemed td.fc-today {
	background: inherit;
}

button {
	background-color: inherit;
	border: none;
}

nav {
	z-index: 1002;
	position: fixed;
    width: -webkit-fill-available;
	display: flex;
  	align-items: center;
  	padding: 25px 30px;
	box-shadow: 0 10px 8px $dark;
	background-color: $blue;
	a {
  		padding: 0 5px;
  		margin: 0 5px;
		float: left;
	}
	h1 {
		color: $grey;
	}
	div {
  		flex-grow: 1;
  		display: inline-flex;
  		justify-content: flex-end;
		a {
			padding: 0 5px;
			margin: 0 5px;
			font-size: $mainFont;
		}
		a:hover {
			color: $dark-green;
			transition: .3s;
		}
	}
}

.section {
	padding: 100px 0;
}

#aboutMe {
	background-color: $grey;
}

#trading {
	display: flex;
  	flex-direction: column;
  	justify-content: flex-start;
  	align-items: center;
  	min-height: 100vh;
  	background-color: $blue;
	#chart {
		box-shadow: 0px 0px 10px 5px $dark;
		margin-bottom: 2em;
	}
	#trades {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		#calendar {
  			width: 100%;
  			margin: 2em 4em;
		}
		#infoSection {
			margin-right: 3em;
			border: 1px solid $blue;
			box-shadow: 0px 0px 10px 5px $dark;
			#tabs {
				display: flex;
				.active-tab {
					background-color: $dark;
				}
				span {
					cursor: pointer;
					padding: .5em 0;
					flex-grow: 1;
					text-align: center;
					color: $grey;
				}
				span:hover {
					background-color: $dark;
					transition: .3s;
				}
			}
			#info {
				.info-section {
					display: none;
					min-height: 25em;
				}
				.active-section {
					display: block;
				}
				img {
					width: 100%;
  					min-width: 100%;
				}
				#plan {
					min-width: 100%;
					text-align: center;
					div {
						p {
							display: inline-block;
						}
					}
					p {
						margin: 1em;
  						color: #dde6eb;
					}
					h2 {
						margin-top: .5em;
					}
				}
			}
		}
	}
}
*/
