*{
	margin: 0;
	padding: 0;
}

body{
	font-family: Helvetica;
	background-color: #f6f9fc;
}

nav{
	text-align: right;
	width: 100%;
	padding: 30px 100px;
	box-sizing: border-box;
}

nav a{
	color: #00b3b3;
	font-weight: bold;
	font-size: 15px;
	padding: 12px 20px;
	text-decoration: none;
	text-transform: uppercase;
	transition: color .3s;
}

nav a:hover{
	color: #006c6c;
	text-underline-position: 2px;
}

.sec1{
	padding: 15px 0;
	background-image: url("../img/beach.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.container {
  position: relative;
  border: 1px solid black;
  margin: 5px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: lightgrey;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  height: 30%;
  opacity: .7;
}

.text {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.row {
  display: flex;
  padding: 0 5px;
}

.column img {
  vertical-align: middle;
}

.box{
	margin: auto;
 	width: 500px;
  	height: 225px;
}

#wrapper{
	padding: 20px 90px 15px 90px;
}

#flexbox{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.flex{
	flex: 1;
	display: flex;
	justify-content: center;
}

.flex:first-child{
	margin-right: auto;
}

.flex:last-child{
	margin-left: auto;
	justify-content: flex-start;
}

.flex div {
	text-align: center;
}

#resume a{
	text-decoration: none;
	color: #f6f9fc;
	background-color: #00b3b3;
	padding: 10px;
	border: 2px solid #00b3b3;
	border-radius: 5px;
	transition: .3s;
}

#resume a:hover{
	background-color: #f6f9fc;
	color: #00b3b3;
}

#quickResume{
	border-radius: 5px;
	width: 300px;
	padding-bottom: 3px;
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
	transition: box-shadow .3s;
	margin-bottom: 25px;
}

#quickResume:hover{
	box-shadow: 0 6px 16px 0 rgba(0,0,0,0.5);	
}

#quickResume h2{
	color: #e6e6e6;
	background-color: #00b3b3;
	text-align: center;
}

.info button{
	width: 100%;
	text-align: left;
	margin-left: 1px;
	background-color: #f2f2f2;
	border: none;
	font-size: 20px;
	outline: none;
}

.collapsible{
	cursor: pointer;
}

.content{
	background-color: #f2f2f2;
	max-height: 0;
	overflow: hidden;
	transition: .2s;
}

.content ul{
	padding-left: 40px;
	text-align: left;
}

#picture{
	width: 170px;
	height: 200px;
	border: 4px solid #00b3b3;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
	transition: box-shadow .3s;
}

#picture:hover{
	box-shadow: 0 6px 16px 0 rgba(0,0,0,0.5);
}

#picture img{
	border-radius: 5px;
	width: 170px;
	height: 200px;
}

#contact{
	width: 280px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
	transition: box-shadow .3s;
	margin-bottom: 25px;
}

#contact:hover{
	box-shadow: 0 6px 16px 0 rgba(0,0,0,0.5);
}

#contact h2{
	color: #e6e6e6;
	background-color: #00b3b3;
	text-align: center;
	border-bottom: 1px solid black;
}

#contactLabel p{
	border-right: 1px solid black;
}

#contactLabel p:last-child{	
	border-top: 1px solid black;
}

#contactLabel{
	float: left;
	text-align: left;
}

#contactInfo{
	position: relative;
	right: 0;
	text-align: right;
}

#contactInfo p:last-child{
	border-top: 1px solid black;
}

#links a{
	margin: 0 5px;
}