/*https://www.cssportal.com/scss-to-css/
 https://fontawesome.com/icons/dice-d20?style=solid
 */
* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  /*color: #92cd89;*/
}
a {
  text-decoration: none;
}
button {
  background-color: inherit;
  border: none;
}
nav {
  z-index: 1002;
  position: fixed;
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
  padding: 25px 30px;
  box-shadow: 0 10px 8px #263844;
  background-color: #354b58;
}
nav a {
  color: #92cd89;
  padding: 0 5px;
  margin: 0 5px;
  float: left;
}
nav h1 {
  color: #dde6eb;
}
nav div {
  flex-grow: 1;
  display: inline-flex;
  justify-content: flex-end;
}
nav div a {
  padding: 0 5px;
  margin: 0 5px;
  font-size: 1.5em;
}
nav div a:hover {
  color: #5ab34d;
  transition: 0.3s;
}
.section {
  padding: 100px 0;
}
#trading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background-color: #354b58;
}
#trading #chart {
  box-shadow: 0px 0px 10px 5px #263844;
  margin-bottom: 2em;
}
#trading #trades {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#trading #trades #calendar {
  color: #92cd89;
  width: 100%;
  margin: 2em 4em;
}
#trading #trades #infoSection {
  margin-right: 3em;
  border: 1px solid #354b58;
  box-shadow: 0px 0px 10px 5px #263844;
}
#trading #trades #infoSection #tabs {
  display: flex;
}
#trading #trades #infoSection #tabs .active-tab {
  background-color: #263844;
}
#trading #trades #infoSection #tabs span {
  cursor: pointer;
  padding: 0.5em 0;
  flex-grow: 1;
  text-align: center;
  color: #dde6eb;
}
#trading #trades #infoSection #tabs span:hover {
  background-color: #263844;
  transition: 0.3s;
}
#trading #trades #infoSection #info .info-section {
  display: none;
  min-height: 25em;
}
#trading #trades #infoSection #info .active-section {
  display: block;
}
#trading #trades #infoSection #info img {
  width: 100%;
  min-width: 100%;
}
#trading #trades #infoSection #info #plan {
  min-width: 100%;
  text-align: center;
}
#trading #trades #infoSection #info #plan p {
  margin: 1em;
  color: #dde6eb;
}
#trading #trades #infoSection #info #plan div p {
  display: inline-block;
}
#trading #trades #infoSection #info #plan h2 {
  margin-top: .5em;
}