*{
	margin: 0;
	padding: 0;
}

body{
	font-family: Helvetica
}

nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	padding: 10px 100px;
	box-sizing: border-box;
}

nav .logo{
	padding: 22px 20px;
	float: left;
}

nav ul{
	list-style: none;
	float: right;
	display: flex;
}

nav ul li a{
	line-height: 120px;
	color: white;
	font-weight: bold;
	font-size: 24px;
	padding: 12px 30px;
	text-decoration: none;
	text-transform: uppercase;
}

section.BG{
	width: 100%;
	height: 100vh;
	background: url(../img/background.jpg);
	background-size: cover;
	background-position: center;
}